<%// include ../partials/_header.ejs %>
<html>
<body>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 text-left">
      <h1>Add Item</h1>
      <p>
        <form action="/buys/<%=items.id%>" method="post">
          <div class="form-group">
            <input type="text" name="id" value ="<%= items.id%>" disabled>
          </div>
          <div class="form-group">
            <input type="text" name="name" value ="<%= items.name%>" disabled>
          </div>
          <div class="form-group">
            <input type="text" name="stock" value ="<%= items.stock%>" disabled>
          </div>
          <div class="form-group">
            <input type="text" name="price" value ="<%= items.price%>" disabled>
          </div>
          <button type="submit">Buy</button>
        </form>
    </div>
  </div>
</div>

</body>
</html>
